In [1]:
#Print 0 to 20 using range
for temp in range(0,21):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [33]:
#Print 10 to 20 using range
for a in range(10,20):
    print (a,end=' ')

10 11 12 13 14 15 16 17 18 19

In [5]:
list=[10,20,14,55,43,87,76]
size=len(list)
print("Number of item in the list",size)

Number of item in the list 7

In [7]:
lis="Artifical Intelligence"
print(lis)
for r in lis:
    print (r)

Artifical Intelligence
A
r
t
i
f
i
c
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [35]:
yourlist=["Your name-","Your Age-","Your Profession-"]
for are in yourlist:
    print(are)

Your name-
Your Age-
Your Profession-

In [9]:
# Print this mixered datatype using Tuples
tuple=(1,'welcome',2,'hope')
print(tuple)

(1, 'welcome', 2, 'hope')

In [11]:
tu1=(0,1,2,3)
tu2=('python','HOPE')
t=tu1+tu2
print(t)

(0, 1, 2, 3, 'python', 'HOPE')

In [25]:
# print Odd Numbers in the list
nl=(20,10,16,19,25,1,276,188)
for i in nl:
    if i%2!=0:
        print(f"{i} is a odd number")

19 is a odd number
25 is a odd number
1 is a odd number

In [31]:
 # print Even numbers in the list
n2=(20,10,16,19,25,1,276,188)
for i in nl:
    if i%2==0:
        print(f"{i} is a even number")

20 is a even number
10 is a even number
16 is a even number
276 is a even number
188 is a even number